head
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(charset="utf-8")

  title="Johanna Chua: " +pageTitle
  link(rel="icon" type="image/png" href="img/icon.png")
  link(rel="stylesheet" href="css/main.css")
  link(rel="stylesheet" href="css/grids.css")
  link(rel="stylesheet" href="css/normalize.css")
  link(href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700,700i" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet")
  link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet")
    
